//-------------------------------------------------------------------------------------------------
// <copyright file="thmviewer.rc" company="Microsoft">
//    Copyright (c) Microsoft Corporation.  All rights reserved.
//    
//    The use and distribution terms for this software are covered by the
//    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
//    which can be found in the file CPL.TXT at the root of this distribution.
//    By using this software in any fashion, you are agreeing to be bound by
//    the terms of this license.
//    
//    You must not remove this notice, or any other, from this software.
// </copyright>
//
// <summary>
// Theme viewer resource file.
// </summary>
//-------------------------------------------------------------------------------------------------

#define VER_APP
#define VER_ORIGINAL_FILENAME "thmviewer.exe"
#define VER_INTERNAL_NAME "thmviewer"
#define VER_PRODUCT_NAME "Theme viewer"
#define VER_FILE_DESCRIPTION "Theme viewer"
#include "wix.rc"
#include "resource.h"

#define MANIFEST_RESOURCE_ID 1
MANIFEST_RESOURCE_ID RT_MANIFEST "thmviewer.manifest"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
THMVWR_RES_THEME_FILE RCDATA "Resources\\thm.xml"
THMVWR_RES_RICHEDIT_FILE RCDATA "Resources\\LoremIpsum.rtf"
