<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.

-->

<?include WixVer.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="WiX Toolset v$(var.WixVersion) Core Package" Language="1033" Manufacturer="Microsoft Corporation" Version="$(var.WixVersion)" UpgradeCode="3618724B-2523-44F9-A908-866AA619504D">
        <Package Compressed="yes" InstallerVersion="200" SummaryCodepage="1252" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed." />

        <Media Id="1" Cabinet="core.cab" CompressionLevel="high" />

        <Property Id="ARPSYSTEMCOMPONENT" Value="1" />

        <Icon Id="WixSetupIcons.ico" SourceFile="wixsetupicons.dll" />

        <Feature Id="Feature_WiX" Title="WiX Toolset" Level="1">
            <Component Id="Licensing" Directory="InstallFolder">
                <File Source="CPL.TXT" />
            </Component>

            <Component Id="ProductInformation" Directory="BinFolder">
                <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows Installer XML\$(var.WixMajorMinor)">
                    <RegistryValue Name="InstallRoot" Value="[BinFolder]" Type="string"/>
                    <RegistryValue Name="ProductVersion" Value="[ProductVersion]" Type="string" />
                </RegistryKey>

                <RemoveFolder Id="CleanupShortcutFolder" Directory="ShortcutFolder" On="uninstall" />
            </Component>

            <ComponentGroupRef Id="ToolsetComponents" />
            <ComponentGroupRef Id="ExtensionComponents" />
            <ComponentGroupRef Id="SetupExeComponents" />
            <ComponentGroupRef Id="LuxComponents" />
            <ComponentGroupRef Id="DocComponents" />
        </Feature>

        <FeatureRef Id="Feature_MSBuild" />

        <FeatureRef Id="Feature_NAnt" />

        <!-- ClickThrough is disabled in WiX v3.6
        <FeatureRef Id="Feature_ClickThrough" />
        -->
    </Product>
</Wix>