<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl1.0.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!--
        .NET Framework installation state properties

        Official documentation can be found at the following location:

           .NET Framework 4.5 - (preliminary) http://msdn.microsoft.com/en-us/library/5a4x27ek.aspx, http://msdn.microsoft.com/en-us/library/ee942965(v=VS.110).aspx
           
    -->

  <?define NetFx45MinRelease = 377811?>
  <?define NetFx45WebLink = http://go.microsoft.com/fwlink/?linkid=223706 ?>
  <?define NetFx45RedistLink = http://go.microsoft.com/fwlink/?LinkId=223704 ?>

  <Fragment>
    <util:RegistrySearch
        Id="NETFRAMEWORK45"
        Variable="NETFRAMEWORK45"
        Root="HKLM"
        Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full"
        Value="Release"
        Result="value" />
  </Fragment>

  <Fragment>
    <util:RegistrySearchRef Id="NETFRAMEWORK45"/>

    <PackageGroup Id="NetFx45Web">
      <ExePackage
          InstallCommand="/q /norestart /ChainingPackage &quot;[WixBundleName]&quot; /log [NetFx45FullWebLog].html"
          RepairCommand="/q /norestart /repair /ChainingPackage &quot;[WixBundleName]&quot; /log [NetFx45FullWebLog].html"
          UninstallCommand="/uninstall /q /norestart /ChainingPackage &quot;[WixBundleName]&quot; /log [NetFx45FullWebLog].html"
          PerMachine="yes"
          DetectCondition="NETFRAMEWORK45 &gt;= $(var.NetFx45MinRelease)"
          Id="NetFx45Web"
          Vital="yes"
          Permanent="yes"
          Protocol="netfx4"
          DownloadUrl="$(var.NetFx45WebLink)"
          LogPathVariable="NetFx45FullWebLog"
          Compressed="no"
          Name="redist\dotNetFx45_Full_setup.exe">
        <RemotePayload
            Size="982168"
            Version="4.5.50131.17379"
            ProductName="Microsoft .NET Framework 4.5 Beta"
            Description="Microsoft .NET Framework 4.5 Beta Setup"
            CertificatePublicKey="B6FD04713FCDA7768A9E367750FF6A051EBEB6E6"
            CertificateThumbprint="8849D1C0F147A3C8327B4038783AEC3E06C76F5B"
            Hash="BE6DF981E803B4191D8C66D34DA903127A41A803" />
      </ExePackage>
    </PackageGroup>
  </Fragment>

  <Fragment>
    <util:RegistrySearchRef Id="NETFRAMEWORK45"/>

    <PackageGroup Id="NetFx45Redist">
      <ExePackage
          InstallCommand="/q /norestart /ChainingPackage &quot;[WixBundleName]&quot; /log [NetFx45FullLog].html"
          RepairCommand="/q /norestart /repair /ChainingPackage &quot;[WixBundleName]&quot; /log [NetFx45FullLog].html"
          UninstallCommand="/uninstall /q /norestart /ChainingPackage &quot;[WixBundleName]&quot; /log [NetFx45FullLog].html"
          PerMachine="yes"
          DetectCondition="NETFRAMEWORK45 &gt;= $(var.NetFx45MinRelease)"
          Id="NetFx45Redist"
          Vital="yes"
          Permanent="yes"
          Protocol="netfx4"
          DownloadUrl="$(var.NetFx45RedistLink)"
          LogPathVariable="NetFx45FullLog"
          Compressed="no"
          Name="redist\dotNetFx45_Full_x86_x64.exe">
        <RemotePayload
            Size="52070032"
            Version="4.5.50131.17379"
            ProductName="Microsoft .NET Framework 4.5 Beta"
            Description="Microsoft .NET Framework 4.5 Beta Setup"
            CertificatePublicKey="B6FD04713FCDA7768A9E367750FF6A051EBEB6E6"
            CertificateThumbprint="8849D1C0F147A3C8327B4038783AEC3E06C76F5B"
            Hash="69CAA2978683ED30038F86F2C94CE53AC3BBC0E2" />
      </ExePackage>
    </PackageGroup>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45" Secure="yes">
      <RegistrySearch Id="NetFramework45" Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Arabic language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_AR_SA_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45ArSaLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1025" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Chinese (Simplified) language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_ZH_CN_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45ZhCnLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\2052" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Chinese (Traditional) language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_ZH_TW_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45ZhTwLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1028" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Czech language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_CS_CZ_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45CsCzLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1029" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Danish language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_DA_DK_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45DaDkLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1030" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Dutch language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_NL_NL_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45NlNlLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1043" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Finnish language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_FI_FI_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45FiFiLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1035" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 French language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_FR_FR_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45FrFrLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1036" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 German language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_DE_DE_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45DeDeLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1031" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Greek language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_EL_GR_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45ElGrLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1032" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Hebrew language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_HE_IL_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45HeIlLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1037" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Hungarian language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_HU_HU_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45HuHuLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1038" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Italian language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_IT_IT_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45ItItLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1040" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Japanese language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_JA_JP_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45JaJpLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1041" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Korean language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_KO_KR_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45KoKrLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1042" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Norwegian language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_NB_NO_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45NbNoLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1044" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Polish language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_PL_PL_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45PlPlLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1045" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Portuguese (Brazil) language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_PT_BR_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45PtBrLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1046" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Portuguese (Portugal) language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_PT_PT_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45PtPtLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\2070" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Russian language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_RU_RU_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45RuRuLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1049" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Spanish language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_ES_ES_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45EsEsLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\3082" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Swedish language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_SV_SE_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45SvSeLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1053" Name="Release" Type="raw" />
    </Property>
  </Fragment>

  <!-- set to Release number of the .NET Framework 4.5 Turkish language pack if installed (not set otherwise) -->
  <Fragment>
    <Property Id="NETFRAMEWORK45_TR_TR_LANGPACK" Secure="yes">
      <RegistrySearch Id="NETFRAMEWORK45TrTrLp" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v4\Full\1055" Name="Release" Type="raw" />
    </Property>
  </Fragment>
</Wix>
